WS_T2/TicTacToeClient/xml-resources/web-service-references/TicTacToeWS/wsdl/localhost_8080/WebApplication/TicTacToeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pucrs.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pucrs.br/" name="TicTacToeWS">
<types>
<xsd:schema>
<xsd:import namespace="http://pucrs.br/" schemaLocation="http://localhost:8080/WebApplication/TicTacToeWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemGrade">
<part name="parameters" element="tns:obtemGrade"/>
</message>
<message name="obtemGradeResponse">
<part name="parameters" element="tns:obtemGradeResponse"/>
</message>
<message name="enviaJogada">
<part name="parameters" element="tns:enviaJogada"/>
</message>
<message name="enviaJogadaResponse">
<part name="parameters" element="tns:enviaJogadaResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<portType name="TicTacToeWS">
<operation name="registraJogador">
<input wsam:Action="http://pucrs.br/TicTacToeWS/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://pucrs.br/TicTacToeWS/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="preRegistro">
<input wsam:Action="http://pucrs.br/TicTacToeWS/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://pucrs.br/TicTacToeWS/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="obtemGrade">
<input wsam:Action="http://pucrs.br/TicTacToeWS/obtemGradeRequest" message="tns:obtemGrade"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/obtemGradeResponse" message="tns:obtemGradeResponse"/>
</operation>
<operation name="enviaJogada">
<input wsam:Action="http://pucrs.br/TicTacToeWS/enviaJogadaRequest" message="tns:enviaJogada"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/enviaJogadaResponse" message="tns:enviaJogadaResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://pucrs.br/TicTacToeWS/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://pucrs.br/TicTacToeWS/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
</portType>
<binding name="TicTacToeWSPortBinding" type="tns:TicTacToeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviaJogada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicTacToeWS">
<port name="TicTacToeWSPort" binding="tns:TicTacToeWSPortBinding">
<soap:address location="http://localhost:8080/WebApplication/TicTacToeWS"/>
</port>
</service>
</definitions>