WS_T2/TicTacToeClient/src/META-INF/wsdl/localhost_8080/WebApplication/TicTacToeWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://pucrs.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pucrs.br/">

<xs:element name="ehMinhaVez" type="tns:ehMinhaVez"/>

<xs:element name="ehMinhaVezResponse" type="tns:ehMinhaVezResponse"/>

<xs:element name="enviaJogada" type="tns:enviaJogada"/>

<xs:element name="enviaJogadaResponse" type="tns:enviaJogadaResponse"/>

<xs:element name="obtemGrade" type="tns:obtemGrade"/>

<xs:element name="obtemGradeResponse" type="tns:obtemGradeResponse"/>

<xs:element name="obtemOponente" type="tns:obtemOponente"/>

<xs:element name="obtemOponenteResponse" type="tns:obtemOponenteResponse"/>

<xs:element name="preRegistro" type="tns:preRegistro"/>

<xs:element name="preRegistroResponse" type="tns:preRegistroResponse"/>

<xs:element name="registraJogador" type="tns:registraJogador"/>

<xs:element name="registraJogadorResponse" type="tns:registraJogadorResponse"/>

<xs:element name="temPartida" type="tns:temPartida"/>

<xs:element name="temPartidaResponse" type="tns:temPartidaResponse"/>

<xs:complexType name="obtemGrade">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemGradeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemOponente">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemOponenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviaJogada">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="jogada" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviaJogadaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraJogador">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraJogadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ehMinhaVez">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ehMinhaVezResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temPartida">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preRegistro">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>